<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hoshi.graduationproject">

    <!-- 权限列表如下 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PicTestActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity android:name=".activity.RankDetailActivity" />
        <activity android:name=".activity.LocalMusicActivity" />
        <activity android:name=".activity.PlayActivity" />
        <activity android:name=".activity.PlaylistActivity" />
        <activity
            android:name=".activity.MusicInfoActivity"
            android:label="@string/music_info"
            android:screenOrientation="portrait" />

        <service android:name=".service.PlayService" />

        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.LoginOrRegisterActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ShareActivity" />
        <activity android:name=".activity.PresonalActivity" />
        <activity android:name=".activity.FriendsActivity" />
        <activity android:name=".activity.FriendsDetailActivity" />
        <activity android:name=".activity.FriendsTrendsActivity" />
        <activity android:name=".activity.SongListActivity"></activity>
    </application>

</manifest>